*{box-sizing: border-box;}
body{padding: 0;margin:0;float: left;width: 100%;font-family: 'Roboto', sans-serif;font-weight: 400;}

.icon{font-size: 0;display: inline-block;vertical-align: middle;background-position: center center; background-repeat: no-repeat;}
.icon.icon-download{background-image: url(../images/install-app-icon.png);width: 39px;height: 39px;}

.wrapper {background-image: url(../images/bg.jpg);min-height: 100vh;width: 100%;background-size: cover;background-repeat: no-repeat;background-attachment: fixed;}
header{text-align: center;padding-top:50px;margin-bottom: 25px;}
.container{text-align: center;}
.app-title{color: #fff;font-size: 50px;line-height: 46px;text-transform: uppercase;margin:0 0 50px;text-shadow: 0px 3px 18px rgba(19, 83, 116, 0.67);}
.app-title span{display: block;font-weight: 300;font-size: 32px;}

.app-content .app-icon{width: 255px;height: 255px;display: inline-block;position: relative;}
.app-content .app-icon:after {content: '';background-image: url(../images/app-icon-after.png);width: 235px;height: 15px;position: absolute;left: 0;right: 0;bottom: -8px;margin: 0 auto;z-index: 0;background-repeat: no-repeat;background-position: center center;background-size: 100% auto;}
.app-content .app-icon .app-icon-inner{position: relative;z-index: 1;border-radius: 80px;overflow: hidden;}
.app-content .app-icon .app-icon-inner img{width: 100%;object-fit: contain;display: block;}
.app-content h2 {font-size: 37px;font-weight: 300;color: #fff;margin:18px 0 40px 0;line-height: 1;}
.app-content .app-link a {background-color: #f36523;display: inline-block;padding: 19px 55px;font-size: 37px;text-decoration: none;color: #fff;text-shadow: none;font-weight: 700;border-radius: 50px;margin-bottom: 110px;}
.app-content .app-link a i{margin-right: 10px;margin-top:-8px;}

@media screen and (max-width: 767px){
	header{padding-top: 20px;}
	header .logo{max-width: 100px;}
	.app-title{font-size: 28px;line-height: 28px;}
	.app-title span{font-size: 18px;}
	.app-content .app-icon{width: 145px;height: 145px;}
	.app-content .app-icon .app-icon-inner{border-radius: 45px;}
	.app-content .app-icon:after{width: 133px;height: 9px;bottom: -4px;}
	.app-content h2{font-size: 20px;}
	.app-content .app-link a{font-size: 20px;padding: 11px 32px;margin-bottom: 40px;}
	.icon.icon-download{background-size: 22px auto;width: 22px;height: 22px;}
}